/* h1, h3 {
    text-align: left;
} */

h1 {
    font-size: 4.75rem;
}

.jumbotron {
    padding: 2rem !important;
}

#logo {
    height: 150px;
    padding-right: 100px;
}

.btn-grp {
    text-align: center;
    margin-top: 25px;
}

.grid-container {
    display: grid;
    grid-gap: 50px;
}

.question {
    border-right: 6px solid #2196F3;
    background-color: #ddffff;
    padding: 15px;
}